<h2>The Value of Money</h2>
<div class="section">
<div class="image-area"><img src="img/value.jpg" alt="The Value of Money"> </div>
<div class="content-aera">
<strong>Reference: </strong> <em><a href="https://corporatefinanceinstitute.com/resources/knowledge/valuation/time-value-of-money/" target="_blank">www.corporatefinanceinstitute.com/resources/knowledge/valuation/time-value-of-money/</a></em> 
<p> The time value of money is a basic financial concept that holds that money in the present is worth more than the same sum of money to be received in the future. This is true because money that you have right now can be invested and earn a return, thus creating a larger amount of money in the future. (Also, with future money, there is the additional risk that the money may never actually be received, for one reason or another.) The time value of money is sometimes referred to as the net present value (NPV) of money.
</p>
<p> A simple example can be used to show the time value of money. Assume that someone offers to pay you one of two ways for some work you are doing for them: They will either pay you $1,000 now or $1,100 one year from now.</p>
<p>Which pay option should you take? It depends on what kind of investment return you can earn on the money at the present time. Since $1,100 is 110% of $1,000, then if you believe you can make more than a 10% return on the money by investing it over the next year, you should opt to take the $1,000 now. On the other hand, if you don’t think you could earn more than 9% in the next year by investing the money, then you should take the future payment of $1,100 – as long as you trust the person to pay you then.</p>
<p>Why is this important? Because inflation constantly erodes the value, and therefore the purchasing power, of money. It is best exemplified by the prices of commodities such as gas or food. If, for example, you were given a certificate for $100 of free gasoline in 1990, you could have bought a lot more gallons of gas than you could have if you were given $100 of free gas a decade later.</p> 
</div>
</div>
<hr>
 <h2>GMO food</h2>
<div class="section">
<div class="image-area"><img src="img/GMO.jpg" alt="GMO food"> </div>
<div class="content-aera">
<strong>Reference: </strong> <em><a href="https://cbc.ca/news/technology/genetically-modified-foods-the-facts-and-debates-1.1031789"target="_blank">www.cbc.ca/news/technology/genetically-modified-foods-the-facts-and-debates-1.1031789/</a></em> 
<p> Genetically modified organisms (GMOs) have been the source of much debate regarding their necessity and safety for many years. These organisms, for better or worse, now have a firm place in our food chain, finding their way into upwards of 30,000 different food products.
The first genetically modified food item, a tomato, appeared in the United States in 1994 and in Britain in 1996.
</p>
<p>For thousands of years, farmers have used selective breeding to yield plant crops with particular genetic traits. The process can combine genes of similar plants in order to create a more-sustainable crop.
Animals can also be bred selectively, within the same species, as is most commonly done with dogs, cats and horses.
Selective breeding, however, can be a time consuming process and the potential combinations are limited.
Genetic modification is a quicker means to a similar end but is seemingly limitless. With this process, scientists \can combine genetic traits from entirely different plant and animal species, essentially ‘cutting’ a trait from one organism and ‘pasting’ it into another.</p>
<p>The majority of genetic modification is done on basic commodity crops like soybeans, corn, rice and wheat, which is the reason so many different food products now contain GMOs.
Herbicide-resistant crops are by far the most widely grown genetically modified plant, accounting for more than 70 per cent of worldwide GMOs. </p>
<p>These crops allow farmers to use the more effective non-specific herbicides without fear of killing their valuable plants.
Plants can also be modified to be insect resistant (removing the need for polluting insecticides), and disease resistant.</p> 
</div>
</div>
<hr>
 <h2>The View of World in 2100</h2>
<div class="section">
<div class="image-area"><img src="img/View.jpg" alt="The View of World in 2100"> </div>
<div class="content-aera">
<strong>Reference: </strong> <em><a href="https://businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10" target="_blank">www./businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10/</a></em> 
<p> With global population set to reach seven billion people over the weekend, it may be time to start planning for what the world will look like in the coming years.
Though most of us won't be around to see it, the United Nations has projected that our incredible population growth will level off at around 10 billion people by the year 2100.
</p>
<p> Already, at less than seven billion, we are experiencing severe poverty, hunger, a shortage of resources, increased urbanization and climate change issues.
Will we be doomed by 2100, or can we make it work? Since we've only got one planet (so far), let's hope for the latter.</p>
<p>Increased urbanization will be one of the main ways the planet will sustain 10 billion people. There will be a lot of new cities, and mega-cities (cities with a population of over 20 million) will become more common.
Possible candidates for mega-city status include: Beijing, Delhi, Jakarta, Mexico City, Mumbai, São Paulo, and Shanghai.</p>
<p>Right now, there are over 7,000 languages spoken. But lesser used languages will fall by the wayside, while English will become the most used form of communication around the world.</p> 
</div>
</div>
<hr>
 