<h3>Portfolio</h3>
<div class="portfolio">
   <div class="main-con">
    <div class="portfolio-main">
       <div class="img-sec">
        <img src="img/beach.jpg" alt="money">
        </div>
    <div class="portfolio-body">
        <h3>Beautiful Beach</h3>
    </div>
    </div>
    <div class="portfolio-main">
       <div class="img-sec">
        <img src="img/cloudsdawn.jpg" alt="money">
        </div>
    <div class="portfolio-body">
        <h3>Beautiful Nature</h3>
    </div>
    </div>
    <div class="portfolio-main">
       <div class="img-sec">
        <img src="img/flowers.jpg" alt="money">
        </div>
    <div class="portfolio-body">
        <h3>Flowers</h3>
    </div>
    </div>
    <div class="portfolio-main">
       <div class="img-sec">
        <img src="img/highmountain.jpg" alt="money">
        </div>
    <div class="portfolio-body">
        <h3>Himalayas</h3>
    </div>
    </div>
    <div class="portfolio-main">
       <div class="img-sec">
        <img src="img/night.jpg" alt="money">
        </div>
    <div class="portfolio-body">
        <h3>Night View</h3>
    </div>
    </div>
    <div class="portfolio-main">
       <div class="img-sec">
        <img src="img/waterfall.jpg" alt="money">
        </div>
    <div class="portfolio-body">
        <h3>Waterfall</h3>
    </div>
    </div>
</div>
</div>